body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-style: groove;
  z-index: 100; 
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  color: #000000;
  font-size: 40px;
  padding: 50px;
}

.logo {
  font-weight: bold;
  width: 185px;
  height: 120px;
}

.main {
  max-width: 960px;
  width: 1000px;
  height: max-content;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
textarea {
  width: 800px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 10px;
  resize: vertical;
  display: block;
  margin: 0 auto;
}

textarea {
  resize: vertical;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #555;
}

.contact-info {
  margin-top: 40px;
  font-weight: 600;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

.contact-info p {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: larger;
}


